In [1]:
import pandas as pd
import ast

# Чтение CSV
train = pd.read_csv('train_contest.csv')
test = pd.read_csv('for_prediction.csv')

# Преобразуем строку в словарь и достаем нужные поля
test['city'] = test['area'].apply(lambda x: ast.literal_eval(x)['name'])
test['empl'] = test['employer'].apply(lambda x: ast.literal_eval(x)['name'])
test['type_vac'] = test['type'].apply(lambda x: ast.literal_eval(x)['id'])
test['exper'] = test['experience'].apply(lambda x: ast.literal_eval(x)['id'])

# Извлекаем все специализации в строку
test['special'] = test['specializations'].apply(
    lambda x: ', '.join([spec['name'] for spec in ast.literal_eval(x)]) if ast.literal_eval(x) else None
)
test['key'] = test['key_skills'].apply(
    lambda x: ', '.join([spec['name'] for spec in ast.literal_eval(x)]) if ast.literal_eval(x) else None
)
# Удаляем ненужные столбцы
test.drop(['area', 'type', 'experience', 'employer', 'specializations', 'snippet', 'address', 'alternate_url', 'url','key_skills', 'response_url','immediate_redirect_url','published_at', 'created_at'], axis=1, inplace=True)
test.drop(['sort_point_distance','archived','insider_interview', 'relations','working_days', 'working_time_intervals','working_time_modes'], axis=1, inplace=True)
test['timetable'] = test['schedule'].apply(lambda x: ast.literal_eval(x)['id'])
test[test.select_dtypes(include='bool').columns] = test.select_dtypes(include='bool').astype(int)

In [5]:
test.drop(['contacts','department'],axis=1,inplace=True)

In [6]:
train.info()
train.drop(['sort_point_distance' ],axis=1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30072 entries, 0 to 30071
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   premium                   30072 non-null  bool
 1   name                      30072 non-null  object
 2   department                752 non-null    object
 3   has_test                  30072 non-null  bool
 4   response_letter_required  30072 non-null  bool
 5   area                      30072 non-null  object
 6   type                      30072 non-null  object
 7   address                   19105 non-null  object
 8   response_url              0 non-null      float64
 9   sort_point_distance       0 non-null      float64
 10  published_at              30072 non-null  object
 11  created_at                30072 non-null  object
 12  archived                  30072 non-null  bool
 13  insider_interview         94 non-null     object
 14  url                       30072 non-null  object
 15  alternate_url             30072 non-null  object
 16  relations                 30072 non-null  object
 17  employer                  30072 non-null  object
 18  snippet                   30072 non-null  object
 19  contacts                  19085 non-null  object
 20  schedule                  30072 non-null  object
 21  working_days              30072 non-null  object
 22  working_time_intervals    30072 non-null  object
 23  working_time_modes        30072 non-null  object
 24  accept_temporary          30072 non-null  bool
 25  description               30072 non-null  object
 26  experience                30072 non-null  object
 27  key_skills                30072 non-null  object
 28  specializations           30072 non-null  object
 29  region                    30072 non-null  object
 30  immediate_redirect_url    0 non-null      float64
 31  mean_salary               30072 non-null  float64
dtypes: bool(5), float64(4), object(23)
memory usage: 6.3+ MB

In [9]:
# Преобразуем строку в словарь и достаем нужные поля
train['city'] = train['area'].apply(lambda x: ast.literal_eval(x)['name'])
train['empl'] = train['employer'].apply(lambda x: ast.literal_eval(x)['name'])
train['type_vac'] = train['type'].apply(lambda x: ast.literal_eval(x)['id'])
train['exper'] = train['experience'].apply(lambda x: ast.literal_eval(x)['id'])

# Извлекаем все специализации в строку
train['special'] = train['specializations'].apply(
    lambda x: ', '.join([spec['name'] for spec in ast.literal_eval(x)]) if ast.literal_eval(x) else None
)
train['key'] = train['key_skills'].apply(
    lambda x: ', '.join([spec['name'] for spec in ast.literal_eval(x)]) if ast.literal_eval(x) else None
)
# Удаляем ненужные столбцы
train.drop(['area', 'type', 'experience', 'employer', 'specializations', 'snippet', 'address', 'alternate_url', 'url','key_skills', 'response_url','immediate_redirect_url','published_at', 'created_at'], axis=1, inplace=True)
train.head()

,premium,name,department,has_test,response_letter_required,archived,insider_interview,relations,contacts,schedule,...,accept_temporary,description,region,mean_salary,city,empl,type_vac,exper,special,key
0,False,Агент по недвижимости,NaN,False,False,False,NaN,[],"{'name': 'Захаренко Екатерина Валерьевна', 'em...","{'id': 'flexible', 'name': 'Гибкий график'}",...,False,"<p>Мы ищем людей, которым не достаточно того, ...",Санкт-Петербург,125000.0,Санкт-Петербург,АРИН,open,noExperience,"Агент, Жилье, Начальный уровень, Мало опыта, П...","Жилая недвижимость, Активные продажи, Подбор н..."
1,False,IT-специалист/ техник,NaN,False,False,False,NaN,[],"{'name': 'Стреньковская Дарья Васильевна', 'em...","{'id': 'flyInFlyOut', 'name': 'Вахтовый метод'}",...,False,<ul> </ul> <p><em><strong>Навыки</strong></em>...,Иркутская область,50000.0,Братск,СМП-38,open,between1And3,"Начальный уровень, Мало опыта, Системный админ...",None
2,False,Старший/ведущий инженер-программист,NaN,False,False,False,NaN,[],"{'name': 'Антонова Анастасия Сергеевна', 'emai...","{'id': 'fullDay', 'name': 'Полный день'}",...,False,<strong>Обязанности:</strong> <ul> <li>Разрабо...,Ростовская область,80000.0,Ростов-на-Дону,"САРМАТ, НПП",open,between1And3,"Программирование, Разработка, Системы управлен...","Linux, Bash, C/C++"
3,False,Эксперт / методист приемной комиссии,NaN,False,False,False,NaN,[],NaN,"{'id': 'fullDay', 'name': 'Полный день'}",...,False,<p>Департамент информационных технологий РХТУ ...,Москва,120000.0,Москва,РХТУ им. Д.И. Менделеева,open,between1And3,"Менеджмент продукта (Product manager), Управле...","1С программирование, Обновление конфигурации 1..."
4,False,Табельщица/табельщик,NaN,False,False,False,NaN,[],"{'name': 'Слесарчук Екатерина Валерьевна', 'em...","{'id': 'fullDay', 'name': 'Полный день'}",...,False,<p><strong>Обязанности:</strong></p> <ul> <li>...,Саратовская область,15000.0,Энгельс,"Сигнал, группа компаний",open,between1And3,Машиностроение,"Составление отчетности, Работа с оргтехникой, ..."

In [10]:
train['timetable'] = train['schedule'].apply(lambda x: ast.literal_eval(x)['id'])

In [11]:
train.drop(['contacts','schedule'], axis=1, inplace=True)

In [15]:
train.drop(['archived','insider_interview'], axis=1, inplace=True)

,premium,name,has_test,response_letter_required,accept_temporary,description,region,mean_salary,city,empl,type_vac,exper,special,key,timetable
0,False,Агент по недвижимости,False,False,False,"<p>Мы ищем людей, которым не достаточно того, ...",Санкт-Петербург,125000.0,Санкт-Петербург,АРИН,open,noExperience,"Агент, Жилье, Начальный уровень, Мало опыта, П...","Жилая недвижимость, Активные продажи, Подбор н...",flexible
1,False,IT-специалист/ техник,False,False,False,<ul> </ul> <p><em><strong>Навыки</strong></em>...,Иркутская область,50000.0,Братск,СМП-38,open,between1And3,"Начальный уровень, Мало опыта, Системный админ...",None,flyInFlyOut
2,False,Старший/ведущий инженер-программист,False,False,False,<strong>Обязанности:</strong> <ul> <li>Разрабо...,Ростовская область,80000.0,Ростов-на-Дону,"САРМАТ, НПП",open,between1And3,"Программирование, Разработка, Системы управлен...","Linux, Bash, C/C++",fullDay
3,False,Эксперт / методист приемной комиссии,False,False,False,<p>Департамент информационных технологий РХТУ ...,Москва,120000.0,Москва,РХТУ им. Д.И. Менделеева,open,between1And3,"Менеджмент продукта (Product manager), Управле...","1С программирование, Обновление конфигурации 1...",fullDay
4,False,Табельщица/табельщик,False,False,False,<p><strong>Обязанности:</strong></p> <ul> <li>...,Саратовская область,15000.0,Энгельс,"Сигнал, группа компаний",open,between1And3,Машиностроение,"Составление отчетности, Работа с оргтехникой, ...",fullDay

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30072 entries, 0 to 30071
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   premium                   30072 non-null  bool
 1   name                      30072 non-null  object
 2   has_test                  30072 non-null  bool
 3   response_letter_required  30072 non-null  bool
 4   accept_temporary          30072 non-null  bool
 5   description               30072 non-null  object
 6   region                    30072 non-null  object
 7   mean_salary               30072 non-null  float64
 8   city                      30072 non-null  object
 9   empl                      30072 non-null  object
 10  type_vac                  30072 non-null  object
 11  exper                     30072 non-null  object
 12  special                   30072 non-null  object
 13  key                       24866 non-null  object
 14  timetable                 30072 non-null  object
dtypes: bool(4), float64(1), object(10)
memory usage: 2.6+ MB

In [19]:
train[train.select_dtypes(include='bool').columns] = train.select_dtypes(include='bool').astype(int)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30072 entries, 0 to 30071
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   premium                   30072 non-null  int32
 1   name                      30072 non-null  object
 2   has_test                  30072 non-null  int32
 3   response_letter_required  30072 non-null  int32
 4   accept_temporary          30072 non-null  int32
 5   description               30072 non-null  object
 6   region                    30072 non-null  object
 7   mean_salary               30072 non-null  float64
 8   city                      30072 non-null  object
 9   empl                      30072 non-null  object
 10  type_vac                  30072 non-null  object
 11  exper                     30072 non-null  object
 12  special                   30072 non-null  object
 13  key                       24866 non-null  object
 14  timetable                 30072 non-null  object
dtypes: float64(1), int32(4), object(10)
memory usage: 3.0+ MB

In [20]:
test.drop(['sort_point_distance','archived','insider_interview', 'relations','working_days', 'working_time_intervals','working_time_modes'], axis=1, inplace=True)
test['timetable'] = test['schedule'].apply(lambda x: ast.literal_eval(x)['id'])
test[test.select_dtypes(include='bool').columns] = test.select_dtypes(include='bool').astype(int)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7518 entries, 0 to 7517
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        7518 non-null   int64
 1   premium                   7518 non-null   int32
 2   name                      7518 non-null   object
 3   has_test                  7518 non-null   int32
 4   response_letter_required  7518 non-null   int32
 5   schedule                  7518 non-null   object
 6   accept_temporary          7518 non-null   int32
 7   description               7518 non-null   object
 8   region                    7518 non-null   object
 9   city                      7518 non-null   object
 10  empl                      7518 non-null   object
 11  type_vac                  7518 non-null   object
 12  exper                     7518 non-null   object
 13  special                   7518 non-null   object
 14  key                       6225 non-null   object
 15  timetable                 7518 non-null   object
dtypes: int32(4), int64(1), object(11)
memory usage: 822.4+ KB

In [22]:
test.to_excel('predict.xlsx', index=False)
train.to_excel('train.xlsx', index=False)